<div id="control" class="col s12">
    <h2>Seguridad Bancaria</h2>
    <ul class="collapsible">
    <li>
        <div class="collapsible-header showTB">
        <div class="arrowed">
            <div class="arrow-3"></div>
        </div>
        <label>¿Qué es el Área de Seguridad Bancaria?</label>
        </div>
        <div class="collapsible-body">
            <div class="row">
            <div class="col l6">
        <p>
            El Área de Seguridad Bancaria está enfocada en mitigar los riesgos y eventos de fraude 
            a que están expuestos los usuarios, clientes, funcionarios e instalaciones del Banco, 
            dando a conocer las instrucciones básicas,  las medidas de seguridad y estrategias 
            para disminuir el riesgo y obtener un mayor nivel de seguridad, impulsando una cultura 
            de prevención, detección, denuncio y respuesta hacia todos los eventos o actos ilícitos 
            y situaciones de fraude enfocando a todos los funcionarios del Banco Mundo Mujer, 
            hacia la aplicación del código de buen gobierno y conducta responsable al igual que a 
            sus directivos, proveedores, clientes, usuarios o personas que interactúan con el 
            Banco y que puedan causar daño moral, financiero o de Imagen corporativa al mismo a través 
            de conductas delictivas o inapropiadas en su proceder hacia la Entidad.
        </p>
        </div>
            <div class="col l6 text-center imgContenido">
                <img src="../../assets/img/seguridad06.jpg">
            </div>
            </div>
        </div>
    </li>
    </ul>
    <h4 class="dcmDownl">Documentación para Descargar</h4>
    <div class="flex btn-descargas">
    <a href="pdf/SEGURIDADBANCARIA/SEGURIDADBANCARIA.pptx" class="btn verde">
        <img src="../../assets/img/icono_boton.png">
        <label>Documentación Seguridad Bancaria</label>
    </a>
    </div>
</div>