*{
    font-family: 'Montserrat', sans-serif;
}
h2, b{
    font-weight:900;
}
html, body{
    overflow-x: hidden;
    background: #fff;
}
.flex{
    display: flex;
}
.fullCenter{
    justify-content: center;
    align-items: center;
}
.col1{
    flex:1;
}
.col2{
    flex:2;
}

@media (max-width: 600px) {
    section.video-content {
      background-image: url(assets/img/banner_votacion_ok_responsive.jpg) !important;
    }
}
  

header{
    width: 100%;
    position: relative;
    background-image: url(assets/img/banner-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
    overflow: hidden;
    @media (max-width: 600px) {
        background-image: url(assets/img/banner_home_responsive.png);
    }
    > img {
        background-image: url(assets/img/vector-home.png);
        position: absolute;
        top: 20px;
        width: 100%;
        @media (max-width: 2490px) {
            top: 50px;
        }
        @media (max-width: 2280px) {
            top: 90px;
        }
        @media (max-width: 1990px) {
            top: 130px;
        }
        @media (max-width: 1720px) {
            top: 170px;
        }
        @media (max-width: 1520px) {
            top: 200px;
        }
        @media (max-width: 1520px) {
            top: 200px;
        }
        @media (max-width: 1320px) {
            top: 230px;
        }
        @media (max-width: 1140px) {
            top: 260px;
        }
        @media (max-width: 960px) {
            top: 290px;
        }
        @media (max-width: 780px) {
            top: 320px;
        }
        @media (max-width: 630px) {
            top: 360px;
        }
        @media (max-width: 390px) {
            top: 350px;
        }
    }
}

img.scroll {
    position: absolute;
    width: 30px !important;
    left: 0px;
    right: 0px;
    bottom: 130px;
    @media (max-width: 1840px) {
        bottom: 80px;
    }
    @media (max-width: 900px) {
        bottom: 20px;
    }
}

.item-instrucciones { 
    li {
        list-style-type: disc !important;
        margin-left: 20px;
        color: #37a6df;
    }
    h5 {
        margin-top: 0px;
        background-color: #37a6e0;
        padding: 10px 15px;
        color: #fff;
        @media (max-width: 600px) {
            margin-top: 30px;
        }
    }
    b{
        color: #37a6e0;
        margin-right: 10px;
    }
}
.list-gris li {
    color: #868686;
}

.pr-50{
    padding-right: 50px;
}
img.scrllBn {
    width: 42px;
    position: absolute;
    bottom: 17px;
    z-index: 99;
}
h4.dcmDownl{
    padding-left: 47px;
    font-size: 16px;
    color: #0499e5;
    border-bottom: solid 1px #dddddd;
    font-weight:900;
    padding-bottom: 17px;
}
.contenido-banner {
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: column;
}
.logo{
    width: 300px;
    height: auto;
    position: absolute;
    top: -11px;
}
.btnCumplimiento {
    display: block;
    text-align: center;
    margin-bottom: 27px;
    h3 {
        font-weight:900;
        color: #45a6df;
        @media (max-width: 960px) {
            font-size: 29px;
        }
    }
    hr {
        width: 30px;
        margin: 0px auto;
        background: #37a6df;
        height: 4px;
        border: none;
        margin-bottom: 10px;
    }
}

.btn-descargas {
    flex-flow: row wrap;
    .btn {
        margin-bottom: 10px;
    }
}
.btn-jugar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: -100px;
}
a.btn {
    background: transparent;
    border-radius: 50px;
    border: solid 2px #fff;
    color: #fff;
    padding: 19px 45px;
    text-transform: uppercase;
    font-weight:900;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0px auto;
}
img.personaBn {
    position: absolute;
    right: 0px;
    bottom: -24px;
    width: 95vw;
    max-width: 1380px;
    
}
div.botonesHeader{
    flex-flow: column;
    z-index: 99;
    img {
        margin-top: 90px;
    }
}
img.lgBanner{
    max-width: 420px;
    width: 90%;
}

section.contenido {
    max-width: 1200px;
    margin: 40px auto;
}
section.contenido h2{
    color: #37a6df;
    text-align: left;
    font-size: 20px;
    margin: 0px;
    @media (max-width: 600px) {
        font-size: 17px;
    }
}

.detalle-title h2{
    text-transform: uppercase;
    font-size: 35px;
    line-height: 28px;
    margin-bottom: 0px;
}
.detalle-title p{
margin-top: 10px;
    max-width: 200px;
    line-height: 11px;
    font-size: 12px;
    text-align: center;
}
.detalle-title a.btn{
    background: #0d5d9b;
    border: none;
}
.tabs .tab a{
    color: #1d71b8;
    font-size: 16px;
    font-weight:900;
    text-transform: capitalize;
}
.border-left{
    border-left: solid 1px #868686;
    padding-left: 0px;
}
div#instrucciones {
    max-width: 720px;
    float: none;
    margin: 0px auto;
}
.content-instr {
    flex-flow: row wrap;
    justify-content: center;
}
.item-instrucciones {
    margin: 20px;
    flex: 1;
}
.item-instrucciones.flex {
    min-width: 90%;
    @media (max-width: 900px) {
        flex-flow: column;
    }
    .item-instrucciones__first {
        margin-right: 5%;
        @media (max-width: 900px) {
            margin-right: 0px;
        }
    }
}
.item-instrucciones__header img {
    width: 50px;
}
.item-instrucciones__header h2 {
    font-size: 22px;
}
.item-instrucciones__header {
    align-items: center;
    justify-content: flex-start;
}
.item-instrucciones__header span {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 3px #37a6df;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:900;
    color: #37a6df;
    font-size: 20px;
    margin: 0px 10px;
}

p.nota {
    margin-top: -10px;
    border-top: solid 2px #d5e1ef;
    padding: 30px;
    padding-top: 20px;
}

.instrucciones-footer {
    text-align: center;
    h2, p {
        text-align: center !important;
    }
    h2 {
        text-transform: uppercase;
        font-size: 32px !important;
        margin-top: 20px !important;
    }
    p {
        font-size: 18px;
    }
    .btn {
        background: #37a6df;
        border-color: #37a6df;
    }
    @media (max-width: 600px) {
        width: 85%;
        margin: 0px auto;
    }
}
.instrucciones-footer img {
    width: 90%;
    max-width: 490px;
}

.collapsible-body{
    padding-bottom: 0px;
}
.collapsible-body > .row{
        margin-bottom: 0px;
}
.f-column{
    flex-flow: column;
    -ms-flex-flow: column;
}
.imgContenido{
    text-align:center;
}
.imgContenido img{
width: 253px;
    margin-bottom: -8px;
}
.btn-descargas a{
    position: relative;
    max-width: 207px;
    background: #37a6e0;
    height: 66px;
    border: none;
    margin-right: 20px;
}
.btn-descargas a img{
    position: absolute;
    width: 45px;
    left: 10px;
    top: 8px;
}
.btn-descargas a label{
    color: #fff;
    display: block;
    font-weight:900;
    width: 121px;
    text-align: left;
    margin-left: 32px;
    line-height: 13px;
}
.tabs .tab a:hover, .tabs .tab a.active{
    color: #35a8e1;
    border-bottom: solid;
}
.tabs .indicator{
    background-color: #039be5;
    height: 4px;
}
.opcionesTab{
    margin-bottom: 40px;
}
img.play{
    width: 90%;
    max-width: 144px;
    display: block;
    margin: 0px auto;
}
p{
    text-align: justify;
    font-size: 15px;
    color: #868686;
    @media (max-width: 600px) {
        text-align: center;
    }
}
footer{
    background: #ededed;
    padding: 20px 0px;
}
footer > img{
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    width: 90px;
}
.footer {
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        flex-flow: column;
        .txt-footer {
            text-align: center;
            hr {
                margin: 0px auto;
            }
            h2 {
                margin-top: 20px;
                font-size: 20px;
            }
        }
    }
}
.footer > img{
    width: 200px;
    margin-left: 13%;
    @media (max-width: 600px) {
        width: 120px;
        margin-left: 0px;
    }

}

.txt-footer h2{
    margin: 0px;
    font-size: 20px;
}
/* Arrow holder */
.arrowed {
    position: relative;
    height: 20px;
    width: 20px;
}
.arrowed div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
.arrow-3 {
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color: #049ae5 #049ae5 transparent transparent;
    transform: rotate(45deg);
    border-radius: 3px;
}
.collapsible-header{
    display: flex;
    justify-content: baseline;
    align-items: center;
    cursor: pointer;
}
.collapsible-header label{
    margin-left: 13px;
    font-size: 16px;
    color: #0499e5;
    font-weight:900;
}

.txt-collapse img{
    width: 80px;
    margin-right: 13px;
}
.txt-collapse .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-collapse .col1 label{
    font-size: 18px;
    color: #41ade2;
    line-height: 20px;
    font-weight:900;
    max-width: 130px;
}
.collapsible{
    box-shadow: none;
    border: none;
}
.txt-footer hr {
    width: 30px;
    margin: 0px;
    background: #37a6df;
    height: 4px;
    border: none;
    margin-bottom: 10px;
}
footer h5 {
    text-align: center;
    font-size: 17px;
    @media (max-width: 600px) {
        font-size: 13px;
        width: 90%;
        margin: 0px auto;
        margin-top: 20px;
    }
    b {
        color: #0d5e9b;
    }
}