<div id="instrucciones" class="col s12">
  <div class="flex content-instr">
      <div class="col1 flex fullCenter f-column pr-50">
      <p><b>Bienvenidos a CINCO,</b> una campaña corporativa del Banco
          Mundo Mujer. Durante 2 meses viviremos junto con todos
          nuestros compañeros los valores y principios que dan vida a
          nuestra identidad como Banco líder de Microfinanzas en Colombia.
          <br><br>
          A continuación te presentamos el instructivo de la campaña,
          con el cual, conocerás cómo participar activamente y cumplir
          paso a paso cada uno de los retos propuestos.</p>
      </div>
      <div class="col1 flex fullCenter f-column detalle-title border-left">
      <img class="play" src="../../assets/img/logo-footer.png">
      <h2>Descargar<br>Instructivo</h2>
      <p>Conoce todas las instrucciones que esta
          campaña trae para tí</p>
      <a href="" class="btn">Descargar</a>
      </div>
  </div>
</div>