.video{
    background: rgb(48,160,219);
    background: linear-gradient(56deg, rgba(48,160,219,1) 0%, rgba(33,133,200,1) 50%, rgba(29,113,184,1) 100%);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-flow: column;
    video{
        width: 60vw;
        height: 68vh;
        margin-bottom: 20px;
    }
    p{
        font-size: 1.3rem;
        color: #fff;
        margin: 0px;
        margin-bottom: 20px;
    }
}