<!-- <section class="flex fullCenter video">
  <div class="flex panel-video">
    <h2><span>Has desbloqueado</span>comportamiento</h2>
    <button (click)="navigate('./home/nivel/4');" class="btn">Jugar Nivel 2</button>
  </div>
</section> -->

<!-- <iframe [src]="urlIframe"></iframe> -->

<video width="800" height="500" controls>
    <source src="https://www.w3schools.com/Html/mov_bbb.mp4" type="video/mp4">
    <source src="https://www.w3schools.com/Html/mov_bbb.ogg" type="video/ogg">
    Your browser does not support HTML5 video.
  </video>
  