.body {
    background: url(../../../assets/img/banner1.jpg);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.item-integrante {
    margin-right: 10px;
    text-align: center;
}

.item-integrante h3 {
    margin: 0px;
    line-height: 10px;
    font-size: 13px;
    color: #fff;
}

.opciones {
    color: #fff;
    border: solid 2px;
    padding: 5px 12px;
    margin-left: 15px;
}

.opciones h4 {
    margin: 0px;
    border-right: solid 2px;
    padding-right: 10px;
    margin-right: 1px;
    font-size: 14px;
    line-height: 26px;
}

.opciones button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
}

img.persona {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 360px;
}
.item-integrante img {
    width: 26px;
    height: 26px;
}
.integrantes > h4{
    margin: 0px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    font-size: 19px;
}
.integrantes > h4 span{
    display: block;
}
.introduccion, .preguntas, .respuesta {
    position: absolute;
    bottom: 220px;
    width: 470px;
    left: 440px;
    background: #36a9e1;
    padding: 15px 30px;
    color: #fff;
    border-radius: 20px;
    text-align: justify;
}
.respuesta{
    text-align: left;
    background: transparent;
}
.respuesta p{
    margin-left: 20px;
}
.introduccion h2, .preguntas h2 {
    font-size: 17px;
    font-weight: 100;
}
.preguntas h2{
    font-family: MyriadPro-Bold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.preguntas a{
    color: #ffe924;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.introduccion .btn, .preguntas .btn {
    float: right;
}
.estado-nivel {
    position: absolute;
    bottom: 20px;
    right: 50px;
}