<section class="flex login">
    <p class="error" *ngIf="message">{{txtMessage}}</p>
  <img class="logoWWB" src="./assets/img/logo.png">
  <form #registroForm="ngForm" (ngSubmit)="registerForm()" class="flex">
    <p>Regístrate</p>
    <input type="text" name="username"
            [(ngModel)]="userRegister.username"
            placeholder="Usuario" required>
    <input type="password" name="password"
            [(ngModel)]="userRegister.password"
            placeholder="Contraseña" required> 
    <select name="ciudad" [(ngModel)]="userRegister.ciudad" (ngModelChange)="getAgencias($event)">
        <option disabled >Seleccione una ciudad</option>
        <option *ngFor="let ciudad of ciudades"
                [value]="ciudad.codigo">{{ciudad.nombre}}</option>
    </select>
    <select name="agencia" [(ngModel)]="userRegister.agencia">
        <option disabled>Seleccione una agencia</option>
        <option *ngFor="let agencia of agencias"
                [value]="agencia.codigo">{{agencia.agencia}}</option>
    </select>
    <button [disabled]="!registroForm.form.valid" type="submit">REGISTRARSE</button>
  </form>
</section>

<loader estado="{{loader}}"></loader>