<div id="seguridad" class="col s12">
    <h2>Control Interno (SCI)</h2>
    <ul class="collapsible">
    <li>
        <div class="collapsible-header showTB">
        <div class="arrowed">
            <div class="arrow-3"></div>
        </div>
        <label>¿Qué es el Sistema de Control Interno (SCI)?</label>
        </div>
        <div class="collapsible-body">
            <div class="row">
            <div class="col l6">
        <p>
            Un adecuado Control Interno protege los recursos de la organización, asegura el cumplimiento de 
            normas, mejora los resultados, minimiza la incertidumbre, promueve buenas prácticas de gobierno 
            corporativo, genera información financiera confiable, facilita la toma de decisiones gerenciales, 
            y propicia la continuidad y el crecimiento de las empresas a través del tiempo.<br><br>
            Por el contrario, la ausencia de Control Interno o su deficiente gestión, expone a la organización a 
            errores, fraudes, incumplimiento de normas legales, sanciones, reprocesos, sobrecostos, información 
            inoportuna y poco confiable, personal poco comprometido, clientes insatisfechos, pérdidas y riesgos 
            de conflicto y quiebra.
        </p>
        </div>
            <div class="col l6 text-center imgContenido">
                <img src="./assets/img/control_interno05.jpg">
            </div>
            </div>
        </div>
    </li>
    </ul>
    <h4 class="dcmDownl">Documentación para Descargar</h4>
    <div class="flex btn-descargas">
    <a href="./assets/pdf/SISTEMADECONTROLINTERNO/SISTEMADECONTROLINTERNO.pdf" target="_blank" class="btn rosa">
        <img src="./assets/img/icono_boton.png">
        <label>Sistema de Control Interno</label>
    </a>
    <a href="./assets/pdf/SISTEMADECONTROLINTERNO/ROLSISTEMADECONTROLINTERNO.pdf" target="_blank" class="btn rosa">
        <img src="./assets/img/icono_boton.png">
        <label>Rol Sistema de Control Interno</label>
    </a>
    </div>
</div>