<section class="body" [ngStyle]="{'background-image': 'url(' + ruta + rutaImgBackground + ')'}">
  <div class="flex header">
    <img [@slideInLeft]="" class="logoWWB" src="../../../assets/img/logo.png">
    <div [@slideInUp]="" class="flex integrantes">
      <h4>
        <span>PREGUNTA #</span>
        {{countQuestionActive}}/{{countQuestion}}
      </h4>      
      <div *ngFor="let integrante of integrantes.integrante" class="item-integrante">
        <img [src]="integrante.image">
        <h3>{{integrante.nombre}}</h3>
      </div>
      <div class="flex opciones">
        <h4>Bienvenido: <b>{{nameGroup}}</b></h4>
        <button (click)="logout();" >Cerrar Sesión</button>
      </div>
    </div>
  </div>

  <div *ngIf="!loader">
    <div *ngIf="showIntroduction" class="introduccion">
      <h2>{{preguntaActiva.post_meta_fields.introducion}}</h2>
      <button class="btn" (click)="showQuestions();">Siguiente</button>
    </div>

    <div *ngIf="showQuestion" class="preguntas">
      <h2>{{preguntaActiva.post_meta_fields.pregunta}}</h2>
      <div class="radio">
        <input id="radio-0" type="radio" name="optionAnswer" [(ngModel)]="optionAnswer" value="{{preguntaActiva.post_meta_fields.alternativas_0_opcion}}">
        <label for="radio-0" class="radio-label">
          {{preguntaActiva.post_meta_fields.alternativas_0_opcion}}) {{preguntaActiva.post_meta_fields.alternativas_0_texto}}
        </label>
      </div>
      <div class="radio">
        <input id="radio-1" type="radio" name="optionAnswer" [(ngModel)]="optionAnswer" value="{{preguntaActiva.post_meta_fields.alternativas_1_opcion}}">
        <label for="radio-1" class="radio-label">
          {{preguntaActiva.post_meta_fields.alternativas_1_opcion}}) {{preguntaActiva.post_meta_fields.alternativas_1_texto}}
        </label>
      </div>
      <div *ngIf="preguntaActiva.post_meta_fields.alternativas_2_opcion != null" class="radio">
        <input id="radio-2" type="radio" name="optionAnswer" [(ngModel)]="optionAnswer" value="{{preguntaActiva.post_meta_fields.alternativas_2_opcion}}">
        <label for="radio-2" class="radio-label">
          {{preguntaActiva.post_meta_fields.alternativas_2_opcion}}) {{preguntaActiva.post_meta_fields.alternativas_2_texto}}
        </label>
      </div>
      <div *ngIf="preguntaActiva.post_meta_fields.alternativas_3_opcion != null" class="radio">
        <input id="radio-3" type="radio" name="optionAnswer" [(ngModel)]="optionAnswer" value="{{preguntaActiva.post_meta_fields.alternativas_3_opcion}}">
        <label for="radio-3" class="radio-label">
          {{preguntaActiva.post_meta_fields.alternativas_3_opcion}}) {{preguntaActiva.post_meta_fields.alternativas_3_texto}}
        </label>
      </div>
      <div *ngIf="preguntaActiva.post_meta_fields.alternativas_4_opcion != null" class="radio">
        <input id="radio-4" type="radio" name="optionAnswer" [(ngModel)]="optionAnswer" value="{{preguntaActiva.post_meta_fields.alternativas_4_opcion}}">
        <label for="radio-4" class="radio-label">
          {{preguntaActiva.post_meta_fields.alternativas_4_opcion}}) {{preguntaActiva.post_meta_fields.alternativas_4_texto}}
        </label>
      </div>
      <div *ngIf="preguntaActiva.post_meta_fields.alternativas_5_opcion != null" class="radio">
        <input id="radio-5" type="radio" name="optionAnswer" [(ngModel)]="optionAnswer" value="{{preguntaActiva.post_meta_fields.alternativas_5_opcion}}">
        <label for="radio-5" class="radio-label">
          {{preguntaActiva.post_meta_fields.alternativas_5_opcion}}) {{preguntaActiva.post_meta_fields.alternativas_5_texto}}
        </label>
      </div>
      <a (click)="showIntoductions();"><img [src]="ruta+'flecha.png'">Leer nuevamente el texto</a>
      <button class="btn" (click)="nextQuestion();">Responder</button>
    </div>

    <div *ngIf="showAnswer" class="respuesta">
      <div class="flex sw-answ">
        <img [src]="imgRespuesta">
        <h5>{{txtRespuestaSt}}</h5>
      </div>
      <div class="flex">
        <button class="btn" (click)="showIntoductions();">Siguiente Pregunta</button>
        <p>Continúa el usuario: {{integranteActivo}}</p>
      </div>
    </div>

    <div *ngIf="errorNivel" class="preguntas error-pregunta">
      <img [src]="ruta+'respuesta_incorrecta.gif'">
      <h3>Lo sentimos, tu grupo<br>no ha logrado pasar de nivel - Correctas: {{countAnswer}} de {{countQuestion}} </h3>
      <button (click)="navigate('./home/error');" class="btn">Ver Resumen</button>
    </div>

    <img class="persona" [@slideInDown]="" [src]="ruta+pathImgLevel+'/'+imgLevel+'.png'">
    <div class="estado-nivel">
        <div class="nivel">
            <img src="../../../assets/img/gps.gif"  [ngStyle]="{'left.px': markeLevel}" class="posicionNivel">
            <img src="../../../assets/img/niveles.png">
        </div>
    </div>
  </div>

  <audio controls loop autoplay>
    <source src="../../../assets/audio/audio.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</section>
