<div id="cumplimiento" class="col s12">
    <h2>Cumplimiento</h2>
    <ul class="collapsible">
    <li>
        <div class="collapsible-header showTB">
        <div class="arrowed">
            <div class="arrow-3"></div>
        </div>
        <label>¿Qué es el Área de Cumplimiento?</label>
        </div>
        <div class="collapsible-body">
        <div class="row">
            <div class="col l6">
            <p>
                La función de Cumplimiento tiene como finalidad hacer una supervisión independiente de 
                la gestión que el Banco hace respecto del cumplimiento de la regulación (Norma, decretos, 
                reglamentos, regulaciones, entre otros) y estándares de Auto-regulación (Códigos y políticas 
                corporativas de conducta), garantizando la transparencia en sus operaciones, evitando una 
                afectación por incumplimientos y protegiendo así el buen nombre del Banco.
            </p>
            <p><b>Función Principal del área</b></p>
            <p>• Apoyar el cumplimento de los objetivos estratégicos del Banco mediante el seguimiento 
                al cumplimiento de la normatividad y fomentando una cultura de transparencia e integridad al 
                interior de la organización</p>
            <p>• Promueve el cumplimiento de la normatividad aplicable al Banco y realiza acompañamiento para 
            su entendimiento y aplicación.</p>
            </div>
            <div class="col l6 text-center imgContenido">
                <img src="./assets/img/cumplimiento06.jpg">
            </div>
            </div>
        </div>
    </li>
    </ul>
    <h4 class="dcmDownl">Documentación para Descargar</h4>
    <div class="flex btn-descargas">
        <a href="./assets/pdf/CUMPLIMIENTO/Funciondecumplimiento.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Función de Cumplimiento</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/TipsdeCumplimiento.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Tips de Cumplimiento</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella1.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 1</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella_anexo1.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Anexo huella 1</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella2.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 2</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella_anexo2.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Anexo huella 2</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella3.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 3</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella_anexo3.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Anexo huella 3</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella4.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 4</label>
        </a>
        <a href="./assets/pdf/CUMPLIMIENTO/huella_anexo4.pdf" target="_blank" class="btn">
            <img src="./assets/img/icono_boton.png">
            <label>Anexo huella 4</label>
        </a>
        
    </div>  
</div>