<section class="flex login">
  <img src="../../assets/img/logo.png">
  <form #registroForm="ngForm" (ngSubmit)="registerForm()" class="flex">
    <input type="text" name="username" [(ngModel)]="userRegister.username" placeholder="Username del grupo">
    <input type="text" name="teamName" [(ngModel)]="userRegister.teamName" placeholder="Nombre del grupo">
    <input type="password" name="password" [(ngModel)]="userRegister.password" placeholder="Password del grupo">
    <div class="form-group">
        <input type="text" name="name" [(ngModel)]="user1.name" placeholder="Nombre Usuario 1">
        <input type="text" name="documentId" [(ngModel)]="user1.documentId" placeholder="C.C.">
    </div>
    <div class="form-group">
        <input type="text" name="name2" [(ngModel)]="user2.name" placeholder="Nombre Usuario 2">
        <input type="text" name="documentId2" [(ngModel)]="user2.documentId" placeholder="C.C.">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Nombre Usuario 1">
        <input type="text" placeholder="C.C.">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Nombre Usuario 1">
        <input type="text" placeholder="C.C.">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Nombre Usuario 1">
        <input type="text" placeholder="C.C.">
    </div>
    <button [disabled]="!registroForm.form.valid" type="submit">CREAR GRUPO</button>
  </form>
</section>