<section [ngStyle]="{'background-image': 'url(' + videoData.imagen + ')'}"
         class="video-content">
  <video *ngIf="showVideo" autoplay muted loop id="videoCampana">
    <source [src]="videoData.video" type="video/mp4">
  </video>
  <a *ngIf="showVideo" (click)="showVideoBase(false);"
      class="btn btn-cerrar">Cerrar</a>
  <header>
    <img class="logo" src="../../assets/img/fondo1.png">
  </header>
  <section class="flex contenido">
    <div *ngIf="videoData.video != null" class="descripcion-video">
      <h1>{{videoData.titulo}}</h1>
      <p>{{videoData.descripcion}}</p>
      <a (click)="showVideoBase(true);" class="btn">Reproducir</a>
    </div>
    <a *ngIf="videoData.video != null" class="btn-votar"
       (click)="saveVote();" >
      <img src="">
      <label>Vota por este video</label>
    </a>
  </section>
</section>

<section class="videos-listado">
  <div class="flex items-video">
    <div *ngFor="let agencia of agencias">
      <h2 *ngIf="agencia">Regional {{agencia[0].data.regional[0]}}</h2>    
      <div (click)="viewAgencie(agencia);" *ngFor="let item of agencia" class="item-video">
        <h2>{{item.data.titulo}}</h2>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer flex">
    <img src="../../assets/img/logo-footer.png">
    <div class="txt-footer">
      <h2>Contacto</h2>
      <p>
        PBX: +57(2) 123-4567<br>
        Celular: 31234567890<br>
        info@cinco.bmm.com
      </p>
    </div>
  </div>
  <img src="../../assets/img/unoraya.png">
</footer>