<section [ngStyle]="{'background-image': 'url(' + videoData.imagen + ')'}"
         class="video-content">
  <video *ngIf="showVideo" autoplay muted loop id="videoCampana">
    <source [src]="videoData.video" type="video/mp4">
  </video>
  <a *ngIf="showVideo" (click)="showVideoBase(false);"
      class="btn btn-cerrar">Cerrar</a>

  <section class="flex contenido">
    <div *ngIf="videoData.video != null" class="descripcion-video">
      <h1>{{videoData.titulo}}</h1>
      <p>{{videoData.descripcion}}</p>
      <a (click)="showVideoBase(true);" class="btn">Reproducir</a>
    </div>
    <a *ngIf="videoData.video != null" class="btn-votar"
       (click)="saveVote();" >
      <img src="">
      <label>Vota por este video</label>
    </a>
  </section>
</section>

<section class="videos-listado">
  <div class="items-video">
    <div *ngFor="let agencia of agencias">
      <h3 *ngIf="agencia">Regional {{agencia[0].data.regional[0]}}</h3>
      <div class="flex">
        <div (click)="viewAgencie(agencia);" *ngFor="let item of agencia" class="item-video">
          <h2>{{item.data.titulo}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer flex">
      <div class="txt-footer">
          <hr>
          <h2>Contacto</h2>
          <p>
              Teléfono fijo: 8399900 Ext.1831 - 1167<br>
              Celular: 3205592454 – 3104527391<br>
              Correo: cinco@bmm.com.co
          </p>
      </div>
      <img src="./assets/img/logo-footer.png">
  </div>
  <h5>CINCO es una campaña corporativa del <b>Banco Mundo Mujer S.A.</b></h5>
</footer>