section.video-content{
    background-size: cover;
    padding-bottom: 15px;
    img {
      margin: 0px auto;
      display: block;
      @media (max-width: 600px) {
        width: 300px;
      }
    }
    >.flex {
      align-items: center;
      width: 90%;
      margin: 0px auto;
      @media (max-width: 600px) {
        img {
          width: 100px;
        }
      }
    }
    p {
      color: #fff;
      margin-left: 10%;
      text-align: right;
    }
  }
  .contenido-banner {
      top: 20px;
      right: 90px;
      justify-content: flex-end;
      width: auto;
      height: auto;
      align-items: flex-start;
  }
  .logo {
    width: 220px;
  }
  .descripcion-video h1{
    max-width: 320px;
    line-height: 57px;
  }

  .contenido-banner a {
    border-right: solid 2px #00BCD4;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  .contenido-banner li:last-child a{
    border: none;
    margin: 0px;
  }
  label{
    font-size: 22px;
    text-transform: uppercase;
  }
  .btn-votar{
    cursor: pointer;
    transition: all 0.2s linear;
  }
  .btn-votar:hover{
    transform: scale(1.02);
  }
  header {
    width: 100vw;
    height: 240px;
  }

  .btnVotar {
    position: absolute;
    z-index: 999;
    bottom: 80px;
    right: 25px;
    display: flex;
    align-items: center;
    label {
      font-size: 14px;
      color: #fff;
    }
    @media (max-width: 600px) {
      right: 10px;
    }
  }

  a.btn{
    background: transparent;
    color: #fff;
  }
  .btn-cerrar{
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 9999999;
  }
  section.videos-listado{
    width: 85%;
    margin: 0px auto;
  }
  section.videos-listado > h2{
    color: #37a6df;
    font-size: 30px;
  }
  .items-video {
    margin-bottom: 30px;
    h3 {
      font-size: 30px;
      color: #37a6df;
      font-weight:900;
      @media (max-width: 600px) {
        font-size: 20px;
        text-align: center;
      }
    }
    >div.flex {
      flex-flow: row wrap;
    }
  }
  .item-video {
    width: 220px;
    background: #37a6df;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    cursor: pointer;
    transition: all 0.2s linear;
    @media (max-width: 600px) {
      width: 140px;
      min-height: 125px;
    }
  }
  .item-video:hover{
    transform: scale(1.03);
  }
  .item-video h2{
    font-size: 14px;
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .items-video .item-video:nth-child(even){
    background: #7dc6be;
  }

  .rw-col {
    flex-flow: row wrap;
  }
  .options-video-controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    width: 100px;
    height: 80px;
    img {
      margin-left: 14px;
      margin-top: 16px;
    }
  }

  .descripcion-video {
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    top: 30px;
    padding-left: 20px;
    h1 {
      font-weight: 900;
      color: #fff;
      font-size: 19px;
      line-height: 19px;
      width: 100%;
      margin-top: 14px;
      margin-bottom: 3px;
      text-shadow: 0px 0px 10px #252525;
    }
    p {
      max-width: 350px;
      margin-top: 0px;
      font-size: 17px;
      line-height: 20px;
      text-align: left;
      color: #fff;
      text-shadow: 0px 0px 10px #252525;
    }
  }

  #videoCampana{
    position: absolute;
    top: 0px;
    z-index: 99;
    width: 100vw;
    height: inherit;
  }

.contenido-video {
  position: fixed;
  top: 0px;
  z-index: 9999;
  left: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: #2f2f2f;
  video {
    width: 100vw;
    height: 100vh;
  }
}