<section [ngStyle]="{'background-image': 'url(' + baseData + ')'}"
         class="video-content">
  <img src="{{baseImage}}logo_header.png">

  <div class="flex">
    <p>
      Conoce todas las notas  periodísticas que han hecho tus compañeros en otras Agencias, PDA´s y Áreas del país.
      <br><br>
      Haz click en la que quieras reproducir y vota por tus 3 videos favoritos.
      <br><br>
      <b>Recuerda que no puedes votar por tu propia Agencia, PDA o Área.</b>
    </p>
  </div>
  <img class="scroll" src="assets/img/scroll.png">
  <img class="vector-interna" src="assets/img/vector-home.png">
</section>

<section class="flex contenido-video" *ngIf="showVideo">
  <video controls preload="none" (ended)="vidEnded()" id="videoCampana">
    <source [src]="videoData.video" type="video/mp4">
  </video>
  
  <div class="flex fullCenter options-video-controls" (click)="playPause()">
    <img  width="23px"
          height="27px"
         src="{{baseImage + imgActivePlayOrPause}}">
  </div>

  <img (click)="showVideoBase(false);"
        width="30px"
        class="btn-cerrar"
        [ngClass]="{'hide': hideContent}"
        src="{{baseImage}}btn-cerrar.svg">

  <div *ngIf="videoData.video != null"
       class="descripcion-video"
       [ngClass]="{'hide': hideContent}">
    <h1>{{videoData.titulo}}</h1>
    <p>{{videoData.descripcion}}</p>
  </div>
  <button *ngIf="videoData.video != null"
     class="btnVotar"
     [ngClass]="{'hide': hideContent}"
     (click)="saveVote();" >
     <label>Vota por este video</label>
    <img width="30" src="{{baseImage}}icono_votar-01.svg">
  </button>
</section>

<section class="videos-listado">
  <div class="items-video">
    <div *ngFor="let agencia of agencias">
      <h3 *ngIf="agencia">{{agencia[0].data.regional_name[0]}}</h3>
      <div class="flex rw-col">
        <div (click)="viewAgencie(item);" *ngFor="let item of agencia" class="item-video">
          <h2>{{item.data.titulo}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer flex">
      <div class="txt-footer">
          <hr>
          <h2>Contacto</h2>
          <p>
              Teléfono fijo: 8399900 Ext.1831 - 1167<br>
              Celular: 3205592454 – 3104527391<br>
              Correo: cinco@bmm.com.co
          </p>
      </div>
      <img src="./assets/img/logo-footer.png">
  </div>
  <h5>CINCO es una campaña corporativa del <b>Banco Mundo Mujer S.A.</b></h5>
</footer>