<div id="saro" class="col s12">
    <h2>Riesgos No Financieros</h2>
    <ul class="collapsible">
    <li>
        <div class="collapsible-header showTB">
        <div class="arrowed">
            <div class="arrow-3"></div>
        </div>
        <label>¿Qué es el Área de Riesgos No Financieros?</label>
        </div>
        <div class="collapsible-body">
            <div class="row">
            <div class="col l6">
        <p>
        Somos los responsables de definir las políticas y procedimientos relacionados a la prevención 
        del riesgo en la organización.</p>
        <p><b>Funciones principales del área</b></p>

        <p>· Definir las políticas y procedimientos para una adecuada gestión y prevención del 
        riesgo operativo en los procesos, teniendo en cuenta las fuentes de riesgo: Recurso humano,
            procesos, Tecnología, Externos e infraestructura.</p>

        <p>· Definir las políticas y controles necesarios, con el fin de mitigar los riesgos que puedan 
        llegar afectar la confidencialidad, integridad y disponibilidad de la información.</p>

        <p>· Definir las estrategias de recuperación en caso de un desastre que afecte 
        la continuidad del negocio.
        </p>
            </div>
            <div class="col l6 text-center imgContenido">
                <img src="./assets/img/riesgo05.jpg">
            </div>
            </div>
        </div>
    </li>
    </ul>
    <h4 class="dcmDownl">Documentación para Descargar</h4>
    <div class="flex btn-descargas">
        <a href="./assets/pdf/RIESGONOFINANCIERO/MaterialSARO.pdf" target="_blank" class="btn amarillo">
            <img src="./assets/img/icono_boton.png">
            <label>Documentación SARO</label>
        </a>
        <a href="./assets/pdf/RIESGONOFINANCIERO/MaterialSeguridadelaInformacion.pdf" target="_blank" class="btn amarillo">
            <img src="./assets/img/icono_boton.png">
            <label>Documentación Seguridad de la Información</label>
        </a>
        <a href="./assets/pdf/RIESGONOFINANCIERO/huella1.pdf" target="_blank" class="btn amarillo">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 1</label>
        </a>
        <a href="./assets/pdf/RIESGONOFINANCIERO/huella2.pdf" target="_blank" class="btn amarillo">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 2</label>
        </a>
        <a href="./assets/pdf/RIESGONOFINANCIERO/huella3.pdf" target="_blank" class="btn amarillo">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 3</label>
        </a>
        <a href="./assets/pdf/RIESGONOFINANCIERO/huella4.pdf" target="_blank" class="btn amarillo">
            <img src="./assets/img/icono_boton.png">
            <label>Huella 4</label>
        </a>
    </div>
</div>