<section class="flex login">
  <img src="../../assets/img/logo.png">
  <form #loginForm="ngForm" (ngSubmit)="authentication()" class="flex">
    <input [(ngModel)]="username" name="username" type="text" placeholder="Usuario del grupo" required>
    <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
    <button [disabled]="!loginForm.form.valid" type="submit">ACCEDER</button>
  </form>
  <a (click)="registrar();">Registrar</a>
  <p class="error" *ngIf="stateMessage">{{message}}</p>
</section>