<div id="sarlaf" class="col s12">
    <h2>SARLAFT</h2>
    <ul class="collapsible">
    <li>
        <div class="collapsible-header showTB">
        <div class="arrowed">
            <div class="arrow-3"></div>
        </div>
        <label>¿Qué es el SARLAFT?</label>
        </div>
        <div class="collapsible-body">
            <div class="row">
            <div class="col l6">
        <p>El Sistema de Administración de Riesgo de Lavado de Activos y de la Financiación 
            del Terrorismo SARLAFT se compone de dos fases:</p>
        <p><b>La primera,</b> corresponde a prevenir que se introduzcan al Banco recursos provenientes 
            del lavado de activos y  la financiación del terrorismo, su pilar fundamental es el 
            adecuado conocimiento del cliente y del origen de sus recursos.</p>
        <p><b>La segunda,</b> corresponde al control  y consiste en detectar y reportar las operaciones 
        que se pretendan realizar o se hayan realizado  para intentar dar apariencia de legalidad 
        a operaciones relacionadas con estos delitos.</p>
        <p><b>Función Principal del área</b></p>
        <p>Blindar que el Banco Mundo Mujer sea utilizado por organizaciones criminales 
        para lavar activos y financiar terrorismo.</p>
        </div>
            <div class="col l6 text-center imgContenido">
                <img src="./assets/img/sarlaft01.jpg">
            </div>
            </div>
        </div>
    </li>
    </ul>
    <h4 class="dcmDownl">Documentación para Descargar</h4>
    <div class="flex btn-descargas">
    <a href="./assets/pdf/SARLAFT/ComoapoyaralagestiondeSARLAFT.pdf" target="_blank" class="btn azul">
        <img src="./assets/img/icono_boton.png">
        <label>¿Cómo apoyar la gestión del SARLAFT?</label>
    </a>
    <a href="./assets/pdf/SARLAFT/ConceptosdeSARLAFT.pdf" target="_blank" class="btn azul">
        <img src="./assets/img/icono_boton.png">
        <label>Conceptos de SARLAFT</label>
    </a>
    <a href="./assets/pdf/SARLAFT/DefinicióndeLavaodeActivos.pdf" target="_blank" class="btn azul">
        <img src="./assets/img/icono_boton.png">
        <label>Definición del Lavado de Activos</label>
    </a>
    <a href="./assets/pdf/SARLAFT/LoquedebesaberdeLAFT.pdf" target="_blank" class="btn azul">
        <img src="./assets/img/icono_boton.png">
        <label>Lo que debe saber de LA FT</label>
    </a>
    </div>
</div>